.saved-locations {
  display: flex;
  overflow-x: hidden;
  padding: 10px;
  margin-top: 6%;
  margin-bottom: -8%;
  margin-left: 1%;
  width: 96%;
}

.card {
  background: #EFFFFD;
  border: 1px solid #42C2FF;
  border-radius: 8px;
  margin-right: 10px;
  min-width: 150px;
  cursor: pointer;
  padding: 0;
  padding-bottom: 10px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.card h3 {
  margin: 0;
  background-color: #454dd4;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 0.5rem;
  color: #EFFFFD;
}

.card p {
  padding: 5px 1rem;
  margin: 10px 0;
}

.card-img-p {
  display: flex;
  align-items: center;
}

.card button {
  background: #ff6666;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}

.card button:hover {
  background: #ff4c4c;
  transform: scale(1.1);
}
